@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Comfortaa:wght@300&family=M+PLUS+1p:wght@100&display=swap');
/* Variables */

:root {
    --font-family: 'Comfortaa', cursive;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #daa941;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
  /* Variables end */
  
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
  
/*   CSS Resets */
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

/*------- Content --------*/
.content-wrap {
    max-width: 900px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
    text-align: left;
}

.item-details h3 + p {
    font-style: italic;
}

.item-details h3 ~ p {
    margin: 0;
}

.divider > section {
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
}

.divider > section:last-of-type {
    border-bottom: none;
}

/* section {
    padding: 30px;
} */
/*---------------------------------------*/

ul {
    list-style-type: none;
}
  
a {
    text-decoration: none;
    color: var(--primary-color);
}
  
a:hover {
    color: var(--secondary-color);
}
  
body {
    font-family: var(--font-family);
}

/* --------- NAV ---------- */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: rgb(26, 22, 22);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--bg-color);
}
  
nav a {
    color: var(--bg-color);
    transition: var(--transition);
}
nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}
  
nav ul {
    display: flex;
    gap: 1.9rem;
}
  
nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* ---------- Hero ---------- */
.cover-header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    /* max-width: 68.75rem; */
    margin: 0;
    padding: 45px;
    background:
        linear-gradient(
        rgba(0, 0, 0, .8),
        rgba(0, 0, 0, .8)
        ),
        url(../images/coding-background.jpg);
    background: cover;
    background-position: no-repeat;
    color: var(--bg-color);
}

/* .hero img {
    height: 17.5rem;
    width: 20.5rem;
    border-radius: 100px;
} */
  
.bio-title {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 3rem;
    color: var(--bg-color);
    text-align: center;
    border-bottom: 1px solid #343434;
    /* width: 25rem; */
    padding: 0.625rem;
    /* box-shadow: 0px 2px 15px 2px var(--primary-shadow); */
}
  
  
.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

/* ---------- More about me ---------- */
/*
.more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
}
  
.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}
  
.more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
}
*/
.work {
/*
    background: #9696b9;
    background: cover;
*/
    color: #343434;
}

.job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}
/* ---------- Skills ---------- */
.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}
  
.skill-header {
    margin-bottom: 1rem;
}
  
.skills-wrapper img {
    padding: 1.25rem;
}
  
.icon {
    width: 11.875rem;
    height: 11.25rem;
}

.icon-card {
    background-color: rgba(24, 8, 8, 0.082);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}

/* ---------- Projects ---------- */
.projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}
  
.project-pic {
    width: 65%;
    height: 60%;
}

/*
.project-pic img{
    width: 300;
}
*/
  
.projects-container {
    display: flex;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}
  
.project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
}
  
.project-title {
    margin-bottom: var(--bottom-margin);
}
  
.project-details {
    margin-bottom: var(--bottom-margin);
}
  
.project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

/* ---------- Contact Us ---------- */
.education {
    background:
        linear-gradient(
        rgba(0, 0, 0, .8),
        rgba(0, 0, 0, .8)
        ),
        url(../images/sharon-mccutcheon-unsplash.jpg);
    color: aliceblue;
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
}

.education p {
    width: 60%;
}


/* ---------- Social Icons ----------- */
.socials {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: .5rem;
    /* position: fixed; */
    /* right: 1%; */
    /* bottom: 50%; */
}
  
.socicon {
    width: 2rem;
    height: 2rem;
    border-radius: 60%;
    
}

/* ---------- Footer ---------- */


/* ---------- Scroll ----------- */
.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}
  
.up-arrow {
    width: 3rem;
    height: 3rem;
}

@media screen and (max-width: 720px) {
    /*changes reflects on screen with a width of 720px and below*/
    nav {
        padding: 1.5rem 1rem;
    }
    nav ul {
        position: fixed;
        background-color: rgb(26, 22, 22);;
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: left;
        padding: 20px;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }
    
    nav ul li {
        margin: 8px;
    }

    .burger-menu {
        display: block;
    }
    
    nav ul.show {
        transform: translateX(0);
    }

    .hero {
        /* margin-left: -1.5rem; */
        margin-top: -4rem;
        /* margin-right: -1.2rem; */
        flex-direction: column;
        gap: 0;
        padding: 20px;
        /* margin: 0; */
    }
    
    .cover-header {
        width: 100%;
    }
    
    .hero img {
        height: 37.5rem;
        width: 30rem;
    }
    
    .bio {
        margin-top: -7rem;
        width: 20.5rem;
    }

    .icon {
        width: 5.875rem;
        height: 5.25rem;
    }

    .projects-container {
        flex-direction: column;
    }
    
    .project-container {
        width: 20.875rem;
    }

    .contact-form-container {
        max-width: 23.75rem;
    }
    
    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
    .socicon {
        width: 2rem;
        height: 2rem;
        border-radius: 60%;
        
    }
}

@media screen and (max-width: 420px) {
    .hero img {
      height: 2rem;
      width: 2rem;
    }
  
    .cover-header {
      width: 100%;
      margin: 0;
    }
  
    .project-container {
      width: 17.875rem;
    }
  
    .contact-form-container {
      max-width: 17.75rem;
    }
} 